.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--nav-bg);
    color: var(--text-light);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow); 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--rebo-green);
    letter-spacing: 2px; 
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

/* Transición base para los enlaces */
.nav-links a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 16px;
    font-weight: 500;
    display: inline-block; 
    transition: all 0.3s ease; 
}

/* El efecto dinámico al pasar el cursor */
.nav-links a:hover {
    color: var(--rebo-green); /* Cambia al color verde */
    transform: scale(1.15); /* Aumenta el tamaño visual un 15% sin empujar a los demás */
}

/* La clase para resaltar en qué página estamos */
.nav-links a.pagina-activa {
    color: var(--rebo-green);
    font-weight: bold;
    border-bottom: 2px solid var(--rebo-green); /* Agrega una línea inferior elegante */
}

/* --- DISEÑO DEL BOTÓN --- */
.boton {
    display: none; /* Oculto por defecto en pantallas grandes */
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 2000; /* Asegura que el botón siempre esté por encima del menú desplegado */
}

/* Las 3 líneas del botón */
.boton span {
    width: 30px;
    height: 3px;
    background-color: var(--rebo-green);
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* --- MEDIA QUERY (El límite de tolerancia para pantallas pequeñas) --- */
@media (max-width: 768px) {
    .boton {
        display: flex; /* El botón aparece cuando la pantalla es menor a 768px */
    }

    .nav-links {
        position: absolute;
        top: 100%; /* Hace que el menú empiece justo debajo de la barra oscura */
        right: 0;
        background-color: var(--nav-bg); /* Usamos el color oscuro de la variable */
        width: 250px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        box-shadow: -5px 0 15px rgba(0,0,0,0.5); 
        
        transform: translateX(100%); /* Empuja el menú un 100% de su ancho hacia la derecha (fuera de vista) */
        transition: transform 0.4s ease-in-out; /* La velocidad del deslizamiento */
    }

    /* ESTA CLASE ES LA QUE ENCENDERÁ JAVASCRIPT */
    .nav-links.active {
        transform: translateX(0); /* Regresa el menú a su posición original (0) */
    }
}